{% extends 'layout.html.twig' %}

{% block title %}Filer | Home{% endblock %}
{% block page_title %}Filer | Home{% endblock %}

{% block content %}
<h1 class="content_title">Filer V2</h1>
<div class="content">
  <p>A simple solution for storing your files</p>
  <p>Try it now by <a href="?action=register">registering</a> yourself ! </p>
  <p>Already have an account ? <a href="?action=login">Login</a> !</p>
</div>
{% endblock %}
