{% extends 'layout.html.twig' %}

{% block title %}Filer | Home{% endblock %}
{% block page_title %}Filer | Home{% endblock %}

{% block content %}
<h1>
  Welcome to the Cool Framework<br>
  <small>By SUP'Internet DEV 2020</small>
</h1>
<a href="?action=register">Register</a>
<a href="?action=login">Login</a>
{% endblock %}
