<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="icon" href="assets/img/FilerLogo.ico">
  </head>
  <body>
  {% block header %}
  <div class="header_wrap">
    <div class="navbar_wrap">
      <div class="navbar row">
        <a id="mainLogo" href="?action=home">
          <img src="./assets/img/filerLogo.png" alt="filer logo">
          {% if user['username'] is defined %}
            <h4 class="username">{{ user['username'] }}</h4>
          {% endif %}  
        </a>
        <ul class="nav row">
          {% if user['username'] is defined %}
          <li class="nav_item"><a class="nav_link" href="?action=upload">Upload</a></li>
          <li class="nav_item"><a class="nav_link" href="?action=logout">Logout</a></li>
          {% else %}
          <li class="nav_item"><a class="nav_link" href="?action=login">Login</a></li>
          <li class="nav_item"><a class="nav_link" href="?action=register">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  {% endblock %}
  <div class="content_wrap">
    {% block content %}{% endblock %}
  </div>
  </body>
</html>
