{% extends 'layout.html.twig' %}

{% block title %}Filer | Login{% endblock %}
{% block page_title %}Filer | Login{% endblock %}

{% block content %}
<h1>
  Login to see your files<br>
</h1>
<form name="login-form" method="post" action="?action=login">
    <label>Email</label><br>
    <input name="email" type="email" id="email" required placeholder="johndoe@john.doe"><br><br>
    <label>Password</label><br>
    <input name="password" type="password" id="password" required placeholder="i'mtherealjohndoe"><br><br>
    <button type="submit" name="login-btn">Login</button>    
</form>
{% endblock %}