{% extends 'layout.html.twig' %}

{% block title %}Filer | Register{% endblock %}
{% block page_title %}Filer | Register{% endblock %}

{% block content %}
<h1>
  Here you can register<br>
</h1>
<form name="register-form" method="post" action="?action=register">
    <label>Firstname</label><br>
    <input name="firstname" type="text" id="firstname" required placeholder="John"><br><br>
    <label>Lastname</label><br>
    <input name="lastname" type="text" id="lastname" required placeholder="Doe"><br><br>
    <label>Email</label><br>
    <input name="email" type="email" id="email" required placeholder="johndoe@john.doe"><br><br>
    <label>Country</label><br>
    <input name="country" type="text" id="country" required placeholder="France"><br><br>
    <label>City</label><br>
    <input name="city" type="text" id="city" required placeholder="Paris"><br><br>
    <label>Date of birth</label><br>
    <input name="birthdate" type="date" id="birthdate" required><br><br>
    <label>Password</label><br>
    <input name="password" type="password" id="password" required placeholder="i'mtherealjohndoe"><br><br>
    <label>Retype password</label><br>
    <input name="password-check" type="password" id="password-check" required placeholder="i'mtherealjohndoe"><br><br>
    <button type="submit" name="register-btn">Register</button>    
</form>
{% endblock %}