{% extends 'layout.html.twig' %}

{% block page_title %}Filer | Upload{% endblock %}  

{% block content %}
    <h1>
        Here you can upload files<br>
    </h1>
    <form name="upload-form" method="post" action="?action=upload" enctype="multipart/form-data">
        <label>Choose your file :</label><br><br>
        <input name="user_file" type="file"><br><br>
        <button name="upload-btn" type="submit">Upload</button>
    </form>
    <div class="upload-errors errors">
        {{ errors['upload'] }}
    </div>
    <div class="files">
    {% for file in files %}
        
    {% endfor %}
    </div>    
{% endblock %}