@charset "UTF-8";
@font-face {
    src: url('fonts/Product Sans Regular.ttf');
    font-family: "product-sans";
}

/* Common */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body,
th,
td,
input,
select,
textarea,
button {
    font-size: 14px;
    line-height: 1.5;
    font-family: 'product-sans', serif;
    color: #333
}

button:focus {
    outline: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* HEADER */

.navbar_wrap {
    background-color: #202020;
    padding: 0 20px;
}

.navbar {
    width: 100%;
    margin: 0 auto;
    height: 100px;
    justify-content: space-between;
}

#mainLogo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav {
    align-items: center;
    justify-content: flex-end;
}

.nav .nav_link {
    display: block;
    height: 84px;
    line-height: 84px;
    padding: 0 20px;
    font-size: 18px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    cursor: auto;
}

.nav .nav_link:hover {
    color: #ad2d2b;
    cursor: pointer;
}

/* CONTENT */

.content_wrap {
    flex-direction: column;
    padding: 0 10%;
    background-color: #FFF;
    text-align: center;
}

.content_title {
    color: #ad2d2b;
    text-align: center;
    padding-bottom: 20px;
}

.content {
    text-align: center;
    border: solid #333 2px;
    padding: 20px;
}

.log_button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 51px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border: none;
}

.log_button:hover {
    background-color: #ad2d2b;
}

.form_wrap {
    margin: auto;
}

/* Upload */

.filer_content {
    margin: 20px;
    padding: 20px;
    border: solid #e2e2e2 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.files_list {
    width: 100%;
}

.files_list th {
    padding: 10px;
    border: solid #2e2e2e 2px;
    background-color: #e2e2e2;
}

.files_list a {
    color: #2e2e2e;
    font-size: 20px;
}

.btn {
    padding: 5px;
    margin: 10px;
    border: solid #ad2d2b 1px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.btn:hover {
    background-color: #ad2d2b;
}

.upload_errors {
    color: red;
    font-weight: bold;
    font-size: 24px;
}

.nostyle-btn {
    border: none;
    background-color: #FFF;
    cursor: pointer;
}